<a href="https://colab.research.google.com/github/huangliangc/Analysis_Projects/blob/main/Analysis_Project_1_Uber_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import io

In [ ]:
from google.colab import files 
uploaded = files.upload()

Saving dataset_2.csv to dataset_2.csv

In [ ]:
df = pd.read_csv(io.BytesIO(uploaded["dataset_2.csv"]))

In [ ]:
df.head(10)

      Name  Trips Completed Accept Rate  Supply Hours  Rating
0    Abdul                1        100%             3     4.8
1  Abraham               12         83%             5     4.7
2  Adelina                1        100%             2     4.7
3   Akilah                1        100%             2     4.9
4     Alec               21         76%            11     5.0
5   Alesha                7        100%             4     4.8
6   Alvaro               17         88%            11     4.6
7    Andra               16         94%            11     4.6
8  Augusta               19         84%            11     4.7
9   Aurora               10         90%             4     4.6

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119 entries, 0 to 118
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             119 non-null    object
 1   Trips Completed  119 non-null    int64
 2   Accept Rate      119 non-null    object
 3   Supply Hours     119 non-null    int64
 4   Rating           119 non-null    float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.8+ KB

In [ ]:
# convert accept rate to float from string to force conditions later
df['Accept Rate'] = df['Accept Rate'].apply(lambda x: float(x[:-1]))
df

         Name  Trips Completed  Accept Rate  Supply Hours  Rating
0       Abdul                1        100.0             3     4.8
1     Abraham               12         83.0             5     4.7
2     Adelina                1        100.0             2     4.7
3      Akilah                1        100.0             2     4.9
4        Alec               21         76.0            11     5.0
..        ...              ...          ...           ...     ...
114    Virgen                4        100.0             6     4.5
115      Yang                7         71.0             2     4.5
116  Yessenia                8         88.0             5     5.0
117    Yukiko                9         78.0             6     4.5
118       Zoe               21         86.0             9     4.9

[119 rows x 5 columns]

**Scenario 1:** It is going to be a huge Saturday and there will need to be many more cars on the road than last week. In order to get drivers to go online, we're assessing the following two bonus options in terms of cost:

**Option 1:** $50 for each driver that is online at least 8 hours, accepts 90% of requests, completes 10 trips, and has a rating of 4.7 or better during the time frame;

**Option 2:** $4/trip for all drivers who complete 12 trips, and have a 4.7 or better rating.

Using the dataset provided and given Scenario 1, provide answers to the questions below:

How much would the total bonus payout be with Option 1?

How much would the total bonus payout be with Option 2?

How many drivers would qualify for a bonus under Option 1 but not under Option 2?

What percentages of drivers online completed less than 10 trips, had an acceptance rate of less than 90%, and had a rating of 4.7 or higher?

**Scenario 2:** A taxi driver currently generates $200 per day in fares (before expenses), works six days a week, takes three weeks off, and has the following expenses:

Gas - \$200 per week

Insurance - \$400 per month

Vehicle rent (by the week) - \$500

In [ ]:
first_option_df = df[(df["Supply Hours"] >= 8) & (df["Accept Rate"] >= 90) & (df["Trips Completed"] >= 10) & (df["Rating"] >= 4.7)]
first_option_df

          Name  Trips Completed  Accept Rate  Supply Hours  Rating
11       Byron               15        100.0             9     4.9
19    Dannette               14        100.0             8     4.9
23   Demetrius               14        100.0             8     5.0
26      Dimple               15        100.0             9     4.9
32        Emil               12        100.0             8     5.0
37       Garth               15        100.0             9     5.0
40        Hanh               14         94.0             8     4.9
53      Keshia               20        100.0            10     4.8
57     Latonia               13        100.0             8     5.0
68      Luanne               12         96.0            10     4.9
69     Lyndsey               13         94.0            10     4.9
70     Lynwood               21         95.0             9     5.0
75         Man               23        100.0             9     5.0
76      Marica               16         90.0             9     5.0
88        Oren               11         91.0             8     4.8
95    Salvador               15        100.0            10     4.8
113     Vashti               12         92.0            10     4.9

In [ ]:
total_bonus_1 = 50 * len(first_option_df)
print("$"+str(total_bonus_1))

$850

In [ ]:
second_option_df = df[(df["Trips Completed"] >= 12) & (df["Rating"] >= 4.7)]
second_option_df

          Name  Trips Completed  Accept Rate  Supply Hours  Rating
1      Abraham               12         83.0             4     4.7
4         Alec               21         76.0            10     5.0
8      Augusta               19         84.0            10     4.7
10       Buffy               13         54.0             5     5.0
11       Byron               15        100.0             9     4.9
12     Carlota               14        100.0             7     5.0
15         Chu               14         71.0             6     4.8
19    Dannette               14        100.0             8     4.9
21       Deane               22         77.0             8     4.7
23   Demetrius               14        100.0             8     5.0
24      Deneen               26         19.0             6     4.8
25       Denny               16         56.0             8     4.9
26      Dimple               15        100.0             9     4.9
29      Dustin               13         85.0             9     4.9
32        Emil               12        100.0             8     5.0
34    Fernande               14         86.0             9     4.9
37       Garth               15        100.0             9     5.0
40        Hanh               14         94.0             8     4.9
42       Heidy               16         38.0             6     4.9
53      Keshia               20        100.0            10     4.8
56    Lamonica               24         88.0            10     5.0
57     Latonia               13        100.0             8     5.0
58      Lavera               13         69.0             5     4.9
62       Leota               12         58.0             5     4.8
64      Lianne               22         82.0             8     4.8
68      Luanne               12         96.0            10     4.9
69     Lyndsey               13         94.0            10     4.9
70     Lynwood               21         95.0             9     5.0
75         Man               23        100.0             9     5.0
76      Marica               16         90.0             9     5.0
79    Mathilda               14         86.0             8     4.9
80    Mechelle               12         75.0             9     4.8
84     Natalie               16         94.0             7     4.9
86       Nikki               20         50.0             8     4.8
87        Nyla               18         89.0            10     5.0
89     Pandora               15         60.0             9     4.9
91      Pennie               15         87.0            10     4.8
95    Salvador               15        100.0            10     4.8
96     Samella               18         44.0            10     5.0
98     Shandra               14        100.0             7     4.9
102        Son               21         67.0            10     5.0
104  Stephania               15         80.0             8     5.0
108    Teressa               17         77.0            10     4.7
110      Tonya               13         54.0             6     4.8
113     Vashti               12         92.0            10     4.9
118        Zoe               21         86.0             8     4.9

In [ ]:
total_bonus_2 = 4 * second_option_df["Trips Completed"].sum()
print("$"+str(total_bonus_2))

$2976

In [ ]:
first_option_df.columns.to_list()

['Name', 'Trips Completed', 'Accept Rate', 'Supply Hours', 'Rating']

In [ ]:
df_all = first_option_df.merge(second_option_df, on=first_option_df.columns.to_list(), 
                   how='left', indicator=True)
df_all.loc[0:5, :]

        Name  Trips Completed  Accept Rate  Supply Hours  Rating _merge
0      Byron               15        100.0             9     4.9   both
1   Dannette               14        100.0             8     4.9   both
2  Demetrius               14        100.0             8     5.0   both
3     Dimple               15        100.0             9     4.9   both
4       Emil               12        100.0             8     5.0   both
5      Garth               15        100.0             9     5.0   both

In [ ]:
df_all[df_all["_merge"] == 'left_only']

    Name  Trips Completed  Accept Rate  Supply Hours  Rating     _merge
14  Oren               11         91.0             8     4.8  left_only

In [ ]:
less_df = df[(df["Trips Completed"] < 10) & (df["Accept Rate"] < 90) & (df["Rating"] >= 4.7)]
print(str(len(less_df)/len(df) * 100) + "%")

10.92436974789916%

**Question 5**

A taxi driver currently generates $200 per day in fares (before expenses), works six days a week, takes three weeks off, and has the following expenses:

Gas: 200 USD per week
Insurance: 400 USD per month
Vehicle rent (by the week): 500 USD
The driver doesn't pay gas and rent expenses on off weeks.

How much money (after expenses) does the driver make per year?

In [ ]:
total_weeks_per_year = 52
total_months_per_year = 12
total_days_at_work = (total_weeks_per_year - 3) * 6
vehicle_rent = total_months_per_year * 400
insurance = (total_weeks_per_year - 3) * 200
gas_and_others = (total_weeks_per_year - 3) * 500
print("$" + str(total_days_at_work * 200 - vehicle_rent - insurance - gas_and_others))

$19700

**Question 6**

You are convincing the same driver above to buy a Town Car and partner with Uber.

If he does, his gas expenses would go up by 5%, his insurance expense would decrease by 20%, and he would no longer be renting a vehicle. However, he would need to buy a car. The driver would still take three weeks off per year.

**Assuming the new car is 40.000 USD, how much would the driver's gross fares need to increase per week to fully pay for the car in year 1 and maintain the same yearly profit margin as before?**

In [ ]:
margin = 19700
car = 40000
gas_and_others = (total_weeks_per_year - 3) * 500 * 1.05
insurance = (total_weeks_per_year - 3) * 200 * 0.8
total_expense = gas_and_others + insurance + car
total_expense

73565.0